HOST="localhost"
BINDDN="cn=binduser,ou=Auth,dc=example,dc=com"
BINDPW="xxxxxxxxxx"
BASEDN="ou=People,dc=example,dc=com"
OPTIONS=""
ATTR_USER="uid"
ATTR_KEYS="nisPublickey"
SED="/bin/sed"
LDAPSEARCH="/usr/bin/ldapsearch"
